/* Codes */


code
{
    padding: 2px 5px 20px 5px;
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    font-family: Courier New;
    display:block;
    width:auto;
    margin-bottom:1px
}

.codes table tr td{ vertical-align: top; }

.line_numbers{ text-align: right;}

/* 
    using '>' to let only the directly tags have thoes style
    tags nested in other would not be affected by the style
*/
code.quote, code > .quote{color:#990000;}
code.comment, code > .comment{color:#009900;}

code.preprocessor, code > .preprocessor{color:#CC6600;}

code.character, code > .character{color:#990099;}
code.number, code > .number{color:#0099FF;}
code.boolean, code > .boolean{color:#0099FF;}

code.function, code > .function{color:#FF0000;}

code.keyword, code > .keyword{color:#0000FF;}
code.builtintype, code  > .builtintype{color:#FF00FF; font-style:italic;}
code.stdlib, code  > .stdlib{color:#FF6666;}

